[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PINstimation"]
	path = PINstimation
	url = https://github.com/monty-se/pinstimation
